.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  
  .navbar-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    /* margin: 10px; */
    display: flex;
    text-align: center;
  }
  
  .navbar-link {
    display: block;
    align-self: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .navbar-link:hover {
    color: black;
    background-color: #ddd;
  }
  
  .navbar-img {
    width: 100px;
  }

  .navbar-booking {
    position: absolute;
    top: auto;
    bottom: auto;
    right: 200px;
    width: 160px;
    height: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 2;
  }

  .navbar-booking__link {
    display: block;
    color: white;
    text-decoration: none;
    background-color: var(--main-color);
    border-radius: 8px;
  }

  .navbar-booking__link:hover {
    color: #ccc;
    background-color: rgb(15, 173, 141);
  }

  
